{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

</head>
<body>
    {% block nav %}
    <nav>
        <div class="left">
            <div class="nav-link" id="index"><a href="{% url 'en:index' %}">Main</a></div>
            <div class="nav-link" id="items-list"><a href="{% url 'en:items' %}">Items</a></div>
        </div>
        <div class="right">
            <div class="lang">
                <div class="nav-link" id="en"><a href="#">Eng</a></div>
                <div class="nav-link" id="ru"><a href="{% url 'ru:index' %}">Ru</a></div>
                <div class="nav-link" id="ud"><a href="{% url 'ud:index' %}">Udm</a></div>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
        <div class="content">
            <p>Тут будет информация о музее</p>
        </div>
    {% endblock %}

    {% block scripts %}
        <script>
            document.querySelector('div.nav-link#index').className = 'nav-link activate'
        </script>
    {% endblock %}
</body>
</html>