{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>

</head>
<body>
    {% block nav %}
    <nav>
        <div class="left">
            <div class="nav-link" id="index"><a href="{% url 'ud:index' %}">Кутскон бам</a></div>
            <div class="nav-link" id="items-list"><a href="{% url 'ud:items' %}">Арбериос</a></div>
        </div>
        <div class="right">
            <div class="lang">
                <div class="nav-link" id="en"><a href="{% url 'en:index' %}">Анг</a></div>
                <div class="nav-link" id="ru"><a href="{% url 'ru:index' %}">Рус</a></div>
                <div class="nav-link" id="ud"><a href="#">Удм</a></div>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="content">
        <p>Тут будет информация о музее</p>
    </div>
    {% endblock %}

    {% block scripts %}
    <script>
        document.querySelector('div.nav-link#index').className = 'nav-link activate'
    </script>
    {% endblock %}
</body>
</html>