{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
    <title>Завьяловский школьный музей</title>
</head>
<body style="background-color: rgba(25, 85, 115, 0.5);">
    {% block nav %}
    <nav>
        <div class="left">
            <div class="nav-link" id="index"><a href="{% url 'ud_index' %}">Кутскон бам</a></div>
            <div class="nav-link" id="items-list"><a href="{% url 'ud_items' %}">Арбериос</a></div>
        </div>
        <div class="right">
            <div class="lang">
                <div class="nav-link" id="en"><a href="{% url 'en_items' %}">Анг</a></div>
                <div class="nav-link" id="ru"><a href="{% url 'ru_items' %}">Рус</a></div>
                <div class="nav-link" id="ud"><a href="#">Удм</a></div>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    <div class="content">
        <div class="objects">
            {% for object in objects %}
            <div class="object">
                <img class="object-image" src="{%  if object.image  %}{{  object.image.url }} {% else %} {% static 'img/adv.png' %} {% endif %}">
                <div class="info">
                    <div class="title">
                        <p>{{ object.ru_title }}</p>
                    </div>
                    <div class="description">
                        <p>{{ object.ru_description }}</p>
                    </div>
                </div>
            </div>
            {%  endfor  %}
        </div>
    </div>
    {% endblock %}

    {% block scripts %}
        <script>
            document.querySelector('div.nav-link#items-list').className = 'nav-link activate'
        </script>
    {% endblock %}
</body>
</html>